@model T802.Web.Models.Student.PasswordRecoveryModel
@{
    ViewBag.Title = "Password Recovery";
}

<h2>Password Recovery</h2>

@using (Html.BeginForm("PasswordRecovery", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="message-error">
        @Html.ValidationSummary(false)
    </div>
    if (!Model.SuccessfullyChanged)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", autofocus = "autofocus", placeholder = "Username" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-xs-2" })
            <div class="col-xs-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <input class="btn btn-primary" type="submit" value="Reset" />
            </div>
        </div>
    }
    else
    {
        <p>@Model.Result</p>
        @Html.ActionLink("Login", "Login", null, new { @class = "btn btn-primary" })
    }
}

